# Python pre-compiled files
*.pyc
*.log

# Specific files
logs/*
pids/*
static/*
squid_configs/*
.DS_Store
db.sqlite3

# PyCharm
.idea/
# !.idea/dictionaries/*

# Env exclude
venv/*
venv*
.venv/*
.python-version

# Other
config.yaml
default.yaml
docker-compose.yml
