.page-header {
    background-color: #c3e7ec;
    margin: 0 0 10px 0;
    padding: 5px 40px;
    border-bottom: 1px solid #999;
}

h1 a, h1 a:hover {
    color: #131010;
    text-decoration: none;
}

h2 {
    margin: 15px 5px;
}

p {
    margin: 0;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin: 20px 0 70px;
}

.date {
    font-size: small;
}